body {
	position: relative;
	background: #444;
	color: #ccc;
    padding-top: 80px;
	font-family: 'Lato', sans-serif;
}

input {
	color: #333;
}

a {
	font-weight: bold;
	color: #fff;
}
a:hover {
	color: #fff;
}

.poem-line-free {
	width: 100%;
}
.poem-line-first, .poem-line-free.line-even {
	width: 50%;
}
.poem-line-rhyme {
	width: 20%;
	margin-left: 4px;
}
.poem-line-repeat {
	width: 28%;
	float:right;
}

.rhyme-suggestions {
	height: 520px;
	overflow-y: auto;
}

#poem input[type="text"] {
	border: 0;
}
input[type="text"]:disabled {
    background: #aaa;
}

.couplet {
	margin-bottom: 1em;
}
.couplet input {
	margin-bottom: .5em;
}


.navbar-header {
	position: relative;
}
.title-tagline {
	position: absolute;
	left: -5px;
	top: 80px;
	width: 300px;
}
.navbar {
}

.main {
	min-height: 400px;
}

.clear {
	clear: both;
}

.ghazal-repeat {
	background: #605ca8;
}
.ghazal-rhyme {
	background: #216d65;
}

#poem input[type=text] {
	background: #222;
	border: 2px solid #222;
	color:#fff;
	padding: 3px;
}
#poem input[type=text]:disabled {
	background: #222;
}
#poem input.poem-line-rhyme {	
	border: 2px solid #216d65;
}
#poem input#repeat {
	border: 2px solid #605ca8;
}
#poem input[type=text]:disabled.poem-line-repeat {	
	background: #505076;
	border: 2px solid #505076;
}
#poem input[type=text].poem-line-rhyme {
	background:#16544d;
	border: 2px solid #216d65;
}
#poem input[type=text]#rhyme {
	background: #222;
}

.ghazal-title {
	font-size: 24px;
	margin-bottom: .25em;
}
.ghazal-author {
	font-size: 12px;
}
.ghazal-quote {
	border-left: none;
	font-style: italic;
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: 13px;
}

hr {
	border-top: 1px solid #555;
}

.poem-authorship {
	margin-bottom: 1em;
}
#poem-title {
	font-size: 20px;
	margin-right: 1em;
	width: 50%;
}

.couplet {
	border-bottom: 1px solid #555;
	padding-bottom: 5px;
}
#sidebar-list {
	background: #555;
}

#save {
	display: none;
	background: #eee;
	color: #555;
	padding: 1em;
}
#save h4 {
	font-weight: bold;
	margin-top: 0;
}
#save-poem {
}
.has-error #save-email {
	/*border-width: 2px;*/
}

/* -- Alternate, Light Theme ----------------------------------- */

body {
    background: #fff;
    color: #666;
}
.navbar-inverse {
    background-color: #ddd;
    border-color: #bbb;
    z-index: 9999;
}
.navbar-inverse .navbar-nav>li>a {
    color: #555;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    color: #333;
}
#poem input[type=text] {
    background: #eee;
    border: 1px solid #bbb;
    color: #333;
}
#poem input[type=text]#rhyme {
    background: #eee;
    background: #c2e5cf;
}
#poem input[type=text].poem-line-rhyme {
    background: #c2e5cf;
    border: 1px solid #216d65;
}
#poem input[type=text]:disabled.poem-line-repeat {
    background: #c3c2dd;
    border: 1px solid #505076;
}
#poem input#repeat {
    background: #c3c2dd;
    border: 1px solid #605ca8;
}
#sidebar-list {
    background: #eee;
}
.ghazal-repeat {
    background: #c3c2dd;
}
.ghazal-rhyme {
    background: #c2e5cf;
}

.tooltip-inner {
    background-color: #888;
}
.tooltip.left .tooltip-arrow {
    top: 50%;
    right: 0;
    margin-top: -5px;
    border-width: 5px 0 5px 5px;
    border-left-color: #888;
}
hr {
	border-top: 1px solid #ccc;
}
.couplet {
    border-bottom: 1px solid #ddd;
}